.client-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid currentColor;
    height: 92px;
    width: 100%;
    border-radius: 4px;
    color: var(--fill-social-icon);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.client__icon {
    fill: currentColor;
}

@media screen and (max-width: 767px) {
  .client__item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    width: calc(100% / 7);
  }
}