.hero {
  background-color: var(--hero-bgc);
  padding-top: 118px;
  padding-bottom: 118px;
  background-size: cover;
  height: 400px;
  margin: 0 auto;
  background-position: center;
  max-width: 480px;
}

.hero__title {
  @include font(26px, 900, 42px);
  color: var(--primary-bgc-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hero__button  {
  @include font($lh:30px);
  background-color: var(--accent-color);
  color: var(--primary-bgc-color);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 24px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px; 
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px; 
  }
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) ,url(../images/mobile-images/background-image-mobile.jpg);
  }

  .hero__button  {
    @include font($lh:30px);
    background-color: var(--accent-color);
    color: var(--primary-bgc-color);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 24px;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) ,url(../images/mobile-images/background-image-mobile@2x.jpg);
    }
}
  
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) ,url(../images/tablet-images/background-image-tablet.jpg);
    max-width: 769px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) ,url(../images/tablet-images/background-image-tablet@2x.jpg);
    }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) ,url(../images/desktop-images/background-image-desktop.jpg);
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .hero__title {
    @include font(44px, 900, 60px);
    width: 696px;
  }

  .hero__button  {
    padding: 10px 32px;

    &:hover,
    &:focus,
    &:active {
      background-color: var(--accent-second-color);
      color: var(--primary-bgc-color);
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) ,url(../images/desktop-images/background-image-desktop@2x.jpg);
    }
}