.team {
    background-color: var(--portfolio-btn-grey-color);
}

.team__card {
    background-color: var(--primary-bgc-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.team__name {
    @include font(16px, 500, 19px);
    color: var(--primary-title-color);
    text-align: center;
    margin-bottom: 10px;
}

.team__position {
    @include font(16px, 400, 19px);
    color: var(--primary-text-color);
    text-align: center;
    margin-bottom: 16px;
}

.team__info {
    padding-top: 30px;
    padding-bottom: 30px;
}

.social-list__icon {
    fill: currentColor;
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--fill-social-icon);
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-bgc-color);
  }
}