.logo {
    @include font(26px, 700, 31px);
    font-family: var(--secondary-font);
    letter-spacing: 0.03em;
    margin-right: 88px;
    color: var(--primary-title-color);
}

.web-logo {
    color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-logo .logo {
    margin-right: 0;
  }

  .footer-logo {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    margin-right: 70px;
  }
}