.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--primary-bgc-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__container {
    position: relative;
    padding-left: 40px;
}

.mobile-menu-nav {
    padding-top: 48px;
    margin-bottom: 302px;
}

.mobile-menu-nav__link {
    @include font(40px, 500, 47px);
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.mobile-menu-nav__item {
    margin-bottom: 32px;
    
    &:last-child {
        margin-bottom: 0;
    }
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu__close-button {
    position: absolute;
    right: 15px;
    top: 10px;
    border: 0;
    background-color: transparent;
    line-height: 0;
    padding: 0;
}

.mobile-menu__close-icon {
    fill: var(--primary-title-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.mobile-menu-contacts__phone {
    @include font(34px, 500, 40px);
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.mobile-menu-contacts__item:first-child {
    margin-bottom: 32px;
}

.mobile-menu-contacts__mail {
    @include font(24px, 500, 28px);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.mobile-menu-contacts {
    margin-bottom: 64px;
}

.mobile-menu-social__list {
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 20px;
}

.mobile-menu-social__link {
    @include font(18px, 500, 22px);
    letter-spacing: 0.02em;
    color: var(--accent-color);
    position: relative;
}

.line::after {
    content: "";
    position: absolute;
    top: 10px;
    width: 22px;
    height: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
}