.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-title {
    @include font(20px, 700, 23px);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
    margin-bottom: 12px;
}

.form-field__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.form-block {
    margin-bottom: 10px;
}

.comment-block {
    margin-bottom: 20px;
}

.comment-field__input {
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;

  &::placeholder {
    @include font(12px, 400, 14px);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.form-field__title {
    @include font(12px, 400, 14px);
    display: block;
    margin-bottom: 4px;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.form-field__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: var(--primary-title-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .form-field__input:focus + & {
    fill: var(--accent-color);
  }
}

.checkbox-block {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
}

.modal-form__field {
    display: block;
    position: relative;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-active {
    border: 2px solid var(--primary-title-color);
    border-radius: 3px;
    cursor: pointer;
    fill: transparent;
    margin-right: 7px;

  .checkbox-form__area:focus + & {
    box-shadow: 0 0 0 1px var(--primary-body-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .checkbox-form__area:checked + & .checkbox-active__icon {
    display: block;
  }

  .checkbox-form__area:checked + & {
    border: none;
  }
}

.checkbox-active__icon {
    display: none;
}

.modal-rules__link {
    color: var(--accent-color);
}

.modal-rules__text {
    @include font(14px, 400, 24px);
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}