:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-title-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --accent-second-color: #188CE8;
    --primary-bgc-color: #fff;
    --primary-body-color: #000;
    --section-bcg-color: #2F303A;
    --portfolio-btn-grey-color: #F5F4FA;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --footer-elipse-color: rgba(255, 255, 255, 0.1);
    --primary-border: 1px solid #ECECEC;
    --fill-social-icon: #AFB1B8;
    --hero-bgc:#C4C4C4;
}